.col-md-6 img{
    width: 100%;
}

.col-md-6  p{
    font-weight: normal;
    text-align: justify;
    font-size: 1.2rem;
}

.col-md-6  p span{
    font-weight: bold;
}

.col-md-6 button{
    margin-left: 0px;
    margin-top: 20px;
}
