h2{
    border-bottom: none;
    text-align: center;
}

.contenedorConstru{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img{
    margin-top: 5%;
}
