a.navbar-brand img{
  width: 100px;
}

.navbar{
  background-color: #dc973b;
}

li.nav-item {
  margin: 0 20px;
}

.navbar a.nav-link{
  color: #fff;
}


.navbar a.nav-link.active, .navbar a.nav-link:hover{
  color: #291b1b;
  font-weight: bold;
}

.navbar-expand-lg .navbar-collapse{
  justify-content: center;
}

.navbar-expand-lg .navbar-nav{
  flex-direction: row;

}

.carrito{
  background-color: #49ada7;
  color: #fff;
  margin-right: 20px;
}

.carrito:hover{
  background-color: #476261;
  color: #fff;
  
}

.col-md-4 img{
  width: 100%;
  height: auto;
}

