a.navbar-brand img{
  width: 100px;
}

.navbar-expand-lg .navbar-collapse{
  justify-content: center;
}

.navbar-expand-lg .navbar-nav{
  flex-direction: row;

}

.carrito{
  background-color: blue;
  color: #fff;
}